{% extends 'layout.html' %}

{% block body %}
    <h2>Registration page</h2>

    <b>{{ app_data['app_message'] }}</b>

    <form method="POST" action="/register">
        <input type="text" name="username" class="form-control" placeholder="Username">
        <input type="password" name="password" class="form-control" placeholder="Password">
        <input type="password" name="confirm-password" class="form-control" placeholder="Confirm Password">
        <p>Already Registered? <a href="/login"> Click Here</a></p>
        <button type="submit">Register</button>
    </form>
{% endblock %}
